<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492883805915-rst5s215bqgqe0q1r1m472vil2h4o9al.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492883805915-rst5s215bqgqe0q1r1m472vil2h4o9al</string>
	<key>API_KEY</key>
	<string>AIzaSyBRlz4-S-XhY1d1YlRPJtqDSnA0yO7FCck</string>
	<key>GCM_SENDER_ID</key>
	<string>492883805915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AwesomeProject</string>
	<key>PROJECT_ID</key>
	<string>chatapp-c11be</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-c11be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492883805915:ios:8b800987c14854173eeefe</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-c11be.firebaseio.com</string>
</dict>
</plist>